/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNPRS Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params
params {
    
    ///// Output Parameters /////
    local = false                                           // Run in 'local' mode, which prevents some steps from starting until previous steps have completed
    mem_mode = false                                        // In memory mode, where possible streaming steps are replaced with temporary files to reduce memory usage. Run times will longer with --mem_mode set.                                      
    timestamp = "${new java.util.Date().getTime()}"         // Timestamp to use in the event of blanks
    out = false                                             // Overall output directory
    overwrite = false                                       // If output files exist, replace them. WARNING: --overwrite is GREEDY and will delete whatever you tell it to. You've been warned.

    ///// CPUs/Nodes /////
    cpus = 1                                                // Number of available CPUs per node
    sample_cpus = false                                     // Number of available CPUs allotted to each sample for sample-specific processes (Default: params.cpus)
    nodes = 1                                               // Number of available nodes (only required for Ray)

    ///// Input Data /////
    
    pg_reads = false                                        // Path to directory containing reads or nested dirs for pangenome assembly (forces pangenome assembly, overrides --fasta)
    fasta = false                                           // Path to existing FASTA file to use as a reference
    genome_name = false                                     // Genome ID
    genome_dir = false                                      // Path to directory containing a FASTA and associated SNPRS index information
    map_reads = false                                       // Path to a folder containing reads or a text file with path(s) to read-containing directories to map onto the reference
    map_sra = false                                         // Path to file with SRR IDs to include in mapping
    bam_files = false                                       // Path to a folder containing BAMs or a text file with path(s) to BAM files
    raw_parquets = false                                    // Path to a folder containing *_Raw.parquet files or a text file with path(s) to files ending in '_Raw.parquet'
    called_bases = false                                    // Path to a folder containing *_Called.parquet files or a text file with path(s) to files ending in '_Called.parquet'
    joined = false                                          // Path to directory containing joined SNPRS output (Scaffold/Bases/Sites/Codes)
    filtered = false                                        // Path to directory containing filtered SNPRS output (Scaffold/Bases/Sites/Codes/alignment/json)
    tree_file = false                                       // Path to a newick/nexus file to use in tree functions
    split_file = false                                      // Path to a SNPRS splits file with/without IDs noted
    mono = false                                            // Treat individual samples as monotypic groups
    no_ref = false                                          // Do not attempt to load in a reference genome
    alignment_file = false                                  // Path to an alignment file
    
    ///// Requested Actions /////

    pangenome = false                                       // Stop at pangenome preparation
    map = false                                             // Stop after generating raw parquet files
    call = false                                            // Stop after calling bases (requires raw parquet files or their antecedents)
    join = false                                            // Stop after joining called bases (requires 2+ called base files or their antecedents)
    filter = false                                          // Stop after filtering (requires a joined analysis or its antecedents)
    alignment = false                                       // Stop after alignment file
    tree = false                                            // Stop after tree generation
    split = false                                           // Stop after split table generation
    group = false                                           // Stop after group table generation
    get_fixed = false                                       // Stop after getting fixed sites (requires --fixed_id and a file with a path to 1+ called base parquets)
    classify = false                                        // Run in classifier mode

    ///// Filetype Defaults /////

    read_ext = "fastq.gz"
    forward = "_1.fastq.gz"
    reverse = "_2.fastq.gz"

    ///// Pangenome Assembly /////
    
    ray_module = false                                      // Module name for Ray
    size = false                                            // Approximate size of genome for the group in basepairs (bp)
    coverage = 10                                           // Desired read coverage for assembly
    kmer = 31                                               // kmer value for Ray assembly
    out_prop = 0.15                                         // Proportion of reads to take from outgroups, if present
    min_contig = 1                                          // Minimum contig size to retain in final pangenome
    manual_counts = false                                   // Path to manual reads with header of 'Sample_ID', 'Group_0', 'Group_1', 'Base_Count', 'Forward_Read', 'Reverse_Read'
    
    ///// Mapping Settings /////

    slow = false                                            // Run BBMap in slow mode
    vslow = false                                           // Run BBMap in vslow mode (overrides slow)
    
    ///// BAM to Parquet Settings /////

    mapq = 15                                               // Minimum mapping quality (MAPQ) for mpileup -q [Default: 15]
    baseq = 15                                              // Minimum base quality (BASEQ) for mpileup -Q [Default: 15]
    adj_coef = 50                                           // Adjustment coefficient for mpileup -C [Default: 50]

    ///// Base Calling Settings /////

    min_depth = 1                                           // Minimum read coverage to consider a site
    min_allele = 1                                          // Minimum read coverage to consider an allele (overrides min_read)
    min_freq = 0.1                                          // Minimum allele frequency to call a secondary allele
    ploidy = false                                          // Reject sites with too many alleles occurring at or above 'min_freq'

    ///// Join Settings /////
    
    join_id = false                                         // Prefix for joined files [Default: Joined_SNPRS_{timestamp}]

    ///// Fixed Settings ////

    // Fixed site scripts make use of shared flags like --missing, --no_gaps

    fixed_id = false                                        // Prefix for fixed sites analysis of a single dataset [Required if --get_fixed is flagged]
    fixed_csv = false                                       // Path to three-column CSV (Sample_ID,Called_Base_Parquet,Fixed_ID)

    ///// Filter Settings /////
    
    filter_id = false                                       // Prefix for post-filtered files [Default: Filter_SNPRS_{timestamp}]
    missing = false                                         // If 0 or > 1, number of samples with missing data allowed. If between 0 - 1, proportion of samples with data required to keep a site. If unset, a missing value is chosen based on the data
    site_types = 'btqp'                                     // String of single letter codes for sites requested: F/f: Fixed; B/b: Biallelic; T/t: Triallelic; Q/q: Quadallelic; P/p: Pentallellic; U/u: Unique singleton (Fixed + singletons); S/s: Singleton-only [Default: 'btqp']
    no_gaps = false                                         // If flagged, remove sites where any sample has '-' [Default: Keep sites with indels]
    no_sing = false                                         // If flagged, remove sites where any sample is a singleton [Default: Allow singletons if other criteria are met; Overridden if s/S or u/U included in site_types]
    het = false                                             // If flagged, retain sites where any sample has a heterozygous call [Default: Remove sites with heterozygous calls]
    invalid = false                                         // If flagged, retain sites where any sample has an invalid call [Default: Remove sites with invalid calls]

    ///// Tree Settings /////

    gtr = false                                             // Use GTR+G for iqtree [Default: MFP+MERGE]
    bb = 1000                                               // Ultrafast bootstrap replicates [Default: 1000]
    iqtree = false                                          // Use iqTree instead of FastTree

    ///// SNP Analysis /////
    
    snp_dir = false                                         // Path to a directory containing a SNPRS SNP analysis
    snp_id = false                                          // Prefix for SNP files [Default: SNP_SNPRS_{timestamp}]
    group_file = false                                      // Path to a SNPRS group file
}   