/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNPRS Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

process {
  conda.enabled = true
  conda.useMicromamba = true
  conda.cacheDir = "${projectDir}/SNPRS_env"
  process.conda = "${projectDir}/conf/SNPRS.yaml"    
}

// Global default params
params {
    
    ///// Output Parameters /////

    timestamp = "${new java.util.Date().getTime()}"         // Timestamp to use in the event of blanks
    out = false                                             // Overall output directory
    overwrite = false                                       // If output files exist, replace them. WARNING: --overwrite is GREEDY and will delete whatever you tell it to. You've been warned.

    ///// Cores/Nodes /////
    cpus = 1                                                // Number of available CPUs per node
    nodes = 1                                               // Number of available nodes (only required for Ray)
    ray_cpus = false                                        // Specify OpenMPI CPUs available to Ray if different than params.cpus

    ///// Input Data /////
    
    pg_reads = false                                        // Path to directory containing reads or nested dirs for pangenome assembly (forces pangenome assembly, overrides --fasta)
    fasta = false                                           // Path to existing FASTA file to use as a reference
    map_reads = false                                       // Path to a folder containing reads or a text file with path(s) to read-containing directories to map onto the reference
    bam_files = false                                       // Path to a folder containing BAMs or a text file with path(s) to BAM files
    raw_parquet = false                                     // Path to a folder containing *_Raw.parquet files or a text file with path(s) to files ending in '_Raw.parquet'
    called_bases = false                                    // Path to a folder containing *_Called.parquet files or a text file with path(s) to files ending in '_Called.parquet'
    joined = false                                          // Path to directory containing joined SNPRS output (Scaffold/Bases/Sites/Codes)

    ///// Requested Actions /////

    pangenome = false                                       // Stop at pangenome preparation
    validate = false                                        // Run pangenome validation (and assembly if required)
    convert = false                                         // Stop after converting BAM to raw parquet (requires BAM files or their antecedents)
    call = false                                            // Stop after calling bases (requires raw parquet files or their antecedents)
    join = false                                            // Stop after joining called bases (requires 2+ called base files or their antecedents)
    filter = false                                          // Stop after filtering (requires a joined analysis or its antecedents)

    ///// Filetype Defaults /////

    pg_ext = "fastq.gz"
    pg_forward = "_1.fastq.gz"
    pg_reverse = "_2.fastq.gz"

    map_ext = "fastq.gz"
    map_forward = "_1.fastq.gz"
    map_reverse = "_2.fastq.gz"

    ///// Pangenome Assembly /////
    
    pg_name = false                                         // Pangenome ID
    ray_module = false                                      // Module name for Ray
    size = false                                            // Approximate size of genome for the group in basepairs (bp)
    coverage = 10                                           // Desired read coverage for assembly
    kmer = 31                                               // kmer value for Ray assembly
    out_prop = 0.15                                         // Proportion of reads to take from outgroups, if present

    ///// BAM to Parquet Settings /////

    markdup = false                                         // Mark and remove PCR duplicates prior to base calling (only used with paired data)
    mapq = 15                                               // Minimum mapping quality (MAPQ) for mpileup
    baseq = 15                                              // Minimum base quality (BASEQ) for mpileup
    adj_coef = 50                                           // mpileup downgrade coefficient

    ///// Base Calling Settings /////
    min_read = 1                                            // Minimum coverage to consider a site
    min_allele = 1                                          // Minimum coverage to consider an allele (overrides min_read)
    min_freq = 0.1                                          // Minimum allele frequency to call a secondary allele
    ploidy = 2                                              // Reject sites with too many alleles occurring at or above 'min_freq'

    ///// Join Settings /////
    join_id = false 
}