/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNPRS Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params

params {
    
    ///// Output Parameters /////
    
    timestamp = "${new java.util.Date().getTime()}"         // Timestamp to use in the event of blanks
    out = false                                             // Overall output directory
    overwrite = false                                       // If output files exist, replace them. WARNING: --overwrite is GREEDY and will delete whatever you tell it to. You've been warned.

    ///// Local/Memory-Mode /////

    local = false                                           // In 'local' mode, some Polars-heavy steps cannot proceed until previous steps have completed
    mem_mode = false                                        // In 'memory' mode, chunked steps make smaller chunks to reduce memory strain                                    

    ///// Filetype Defaults /////

    read_ext = "fastq.gz"
    forward = "_1.fastq.gz"
    reverse = "_2.fastq.gz"

    ///// Pangenome Assembly /////
    
    ray_module = false                                      // Module name for Ray
    pg_reads = false                                        // Path to directory containing reads or nested dirs for pangenome assembly
    genome_name = false                                     // Genome ID
    size = false                                            // Approximate size of genome for the group in basepairs (bp)
    coverage = 10                                           // Desired read coverage for assembly
    kmer = 31                                               // kmer value for Ray assembly
    out_prop = 0.15                                         // Proportion of reads to take from outgroups, if present
    min_contig = 1                                          // Minimum contig size to retain in final pangenome
    manual_counts = false                                   // Path to CSV with header: Sample_ID', 'Group_0', 'Group_1', 'Base_Count', 'Forward_Read', 'Reverse_Read'

    ///// Other Genome Options /////
    
    fasta = false                                           // Path to existing FASTA file to use as a reference (can be renamed via --genome_name)
    genome_dir = false                                      // Path to directory containing a FASTA and associated SNPRS index information
    no_ref = false                                          // Do not attempt to load in a reference genome    

    ///// Read Mapping /////

    map_reads = false                                       // Path to a folder containing reads or a text file with path(s) to read-containing directories to map onto the reference
    slow = false                                            // Run BBMap in slow mode
    vslow = false                                           // Run BBMap in vslow mode (overrides slow)

    bam_files = false                                       // Path to a folder containing BAMs or a text file with path(s) to BAM files

    ///// Bam-to-Parquet Settings /////

    mapq = 15                                               // Minimum mapping quality (MAPQ) for mpileup -q [Default: 15]
    baseq = 15                                              // Minimum base quality (BASEQ) for mpileup -Q [Default: 15]
    adj_coef = 50                                           // Adjustment coefficient for mpileup -C [Default: 50]

    raw_parquets = false                                    // Path to a folder containing *_Raw.parquet files or a text file with path(s) to files ending in '_Raw.parquet'

    ///// Base Calling Settings /////

    ploidy = false                                          // Sample ploidy; Starts base calling; Reject sites with more than <ploidy> alleles occurring at or above 'min_freq'; Set to 0 for mixed samples (No ploidy limit)

    min_depth = 1                                           // Minimum read coverage to consider a site
    min_allele = 1                                          // Minimum read coverage to consider an allele (overrides min_read)
    min_freq = 0.15                                         // Minimum allele frequency to call a secondary allele

    called_bases = false                                    // Path to a folder containing *_Called.parquet files or a text file with path(s) to files ending in '_Called.parquet'

    ///// Join Settings /////

    join_id = false                                         // Join all called bases into a joined dataset called <join_id>
    join_csv = false                                        // Path to a CSV file with group information for multiple joins (Join_ID,Sample_ID,Called_Base_Parquet* [Optional column: Default: <Called_Base_Dir>/<Sample_ID>_Called.parquet])
    
    internal_id = false                                     // Join terminal datasets into an internal group called <internal_id>
    internal_csv = false                                    // Path to a CSV file with internal group information in long form (Internal_ID,Terminal_JSON,Num_Required)

    joined = false                                          // Path to joined JSON file or path to a text file with path(s) to joined JSON files

    ///// Filter Settings /////

    filter_id = false                                       // Filter joined bases into a subdataset of join called <filter_id>
    terminal_id = false                                     // Filter joined bases into a terminal dataset called <terminal_id>
    filter_csv = false                                      // Path to a CSV file with filter information for mulitple joins (Filter_ID,Join_JSON,Missing,Site_Types,No_Gaps,No_Sing,Het,Invalid)

    missing = false                                         // If 0 or > 1, number of samples with missing data allowed. If between 0 - 1, proportion of samples with data required to keep a site. If unset, a missing value is chosen based on the data
    site_types = 'btqp'                                     // String of single letter codes for sites requested: F/f: Fixed; B/b: Biallelic; T/t: Triallelic; Q/q: Quadallelic; P/p: Pentallellic; U/u: Unique singleton (Fixed + singletons); S/s: Singleton-only [Default: 'btqp']
    no_gaps = false                                         // If flagged, remove sites where any sample has '-' [Default: Keep sites with indels]
    no_sing = false                                         // If flagged, remove sites where any sample is a singleton [Default: Allow singletons if other criteria are met; Overridden if s/S or u/U included in site_types]
    het = false                                             // If flagged, retain sites where any sample has a heterozygous call [Default: Remove sites with heterozygous calls]
    invalid = false                                         // If flagged, retain sites where any sample has an invalid call [Default: Remove sites with invalid calls]
    
    filtered = false                                        // Path to filtered JSON file or path to a text file with path(s) to filtered JSON files
    
    ///// Trees + Alignments /////

    alignment = false                                       // Create an alignment file from filtered data 
    tree = false                                            // Create a tree from filtered alignment

    fast = false                                            // Use FastTree instead of iqTree
    gtr = false                                             // Use GTR+G for iqtree [Default: MFP+MERGE]
    bb = 1000                                               // Ultrafast bootstrap replicates [Default: 1000]

    alignment_file = false                                  // Path to an alignment file
    tree_file = false                                       // Path to a newick/nexus file to use in tree functions

    ///// SNP Analysis /////
    
    snp_id = false                                          // Prefix for SNP files; Set to generate SNPs

    terminal = false                                        // Path to terminal JSON file or path to a text file with path(s) to terminal JSON files
    internal = false                                        // Path to internal JSON file or path to a text file with path(s) to internal JSON files
    outgroup = false                                        // Path to terminal JSON file for outgroup 
    
    snp_json = false                                        // Path to JSON file for a SNPRS SNP datasets
}