/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNPRS Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params
params {
    
    // Timestamp to use in the event of blanks
    timestamp = "${new java.util.Date().getTime()}"

    map_reads = "" // Path to directory containing reads or nested dirs
    map_out = "" // Output directory for mapping

    map_ext = "fastq.gz"
    map_forward = "_1.fastq.gz"
    map_reverse = "_2.fastq.gz"

    cpus = 1
}
