/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNPRS Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

// Global default params
params {
    
    // Timestamp to use in the event of blanks
    timestamp = "${new java.util.Date().getTime()}"

    cpus = 1
    nodes = 1

    // Base calling    
    rd = 1 // Read depth; Minimum read depth to consider a site
    ad = 1 // Allele depth; Minimum read depth to consider an allele (overrides rd)
    min_freq = 0.1 // Minimum allele frequency to call a secondary allele
    ploidy = 2 // Reject sites with too many alleles occurring at or above 'min_freq'

    cb_out = ""
    raw_parquet = ""
    fasta = ""
}
