profiles {
    standard {
        process.executor = 'local'
        params.cpus = 1
        params.nodes = 1
        conda.enabled = true
        conda.useMicromamba = true
        conda.cacheDir = "${projectDir}/SNPRS_Env"
        process.conda = "${projectDir}/conf/SNPRS.yaml"
    }
    snprs_reedling {
        process.executor = 'slurm'
        conda.enabled = true
        conda.useMicromamba = true
        conda.cacheDir = "${projectDir}/SNPRS_Env"
        process.conda = "${projectDir}/conf/SNPRS.yaml"
        params.cpus = 48
        params.nodes = 2
        executor.queueSize = 1000
        params.ray_module = "ray/2.3.1"
    }
}
