profiles {
    standard {
        conda.enabled = true
        conda.useMicromamba = true
        conda.cacheDir = "${projectDir}/SNPRS_env"
        process.conda = "${projectDir}/conf/SNPRS.yaml" 
        
        process.executor = 'slurm'
        params.cores = 20
        params.nodes = 5

        params.purge_modules = ""
        params.openmpi_module = ""
        params.ray_module = ""
        params.samtools_module = ""
        params.python_module = ""
        params.bedtools_module = ""
        params.bbtools_module = ""
        params.mash_module = ""
    }
}
