/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    SNPRS Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Import profile settings
includeConfig "${projectDir}/conf/profiles.config"

process {
  conda.enabled = true
  conda.useMicromamba = true
  conda.cacheDir = "${projectDir}/SNPRS_env"
  process.conda = "${projectDir}/conf/SNPRS.yaml"    
}

// Global default params
params {
    
    // Timestamp to use in the event of blanks
    timestamp = "${new java.util.Date().getTime()}"

    ray_module = "ray/2.3.1" // Module name for Ray
    pg_reads = "" // Path to directory containing reads or nested dirs
    size = "" // Approximate size of genome for the group in basepairs (bp)
    pg_out = "" // Output directory for pangenome
    pg_name = "" // ID for pangenome
    coverage = 10 // Desired read coverage for assembly
    kmer = 31 // kmer value for Ray assembly
    out_prop = 0.15 // Proportion of reads to take from outgroups, if present

    pg_ext = "fastq.gz"
    pg_forward = "_1.fastq.gz"
    pg_reverse = "_2.fastq.gz"

    cpus = 1
    nodes = 1
}
